@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.go-back {
    margin-top: 28px;
    color: #cacaca;
    font-family: "Roboto", "sans-serfif";
    text-decoration: none;
    font-weight: 200;
    padding: 4px;
    background-color: #505050;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .2s;
}

.go-back:hover {
    background-color: #cacaca;
    color: #505050;
    transition: all ease-in-out .2s;
}

.taa {
    margin: 0 auto;
    color: #cacaca;
    font-family: "Roboto", "sans-serfif";
    font-weight: 200;
    padding: 4px;
    background-color: rgba(100,100,100,0.2);
    display: flex;
    border-radius: 5px;
    display: flex;
    max-width: 120px;
    justify-content: center;
    align-items: center;
}

.apply-link {
    margin: 0 auto;
    color: #cacaca;
    font-family: "Roboto", "sans-serfif";
    font-weight: 200;
    padding: 4px;
    background-color: #193F60;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease-in-out .2s;
}

.apply-link:hover {
    margin: 0 auto;
    background-color: #cacaca;
    font-family: "Roboto", "sans-serfif";
    font-weight: 200;
    padding: 4px;
    color: #193F60;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease-in-out .2s;
}